
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

.dygraph-title{
  font-size: 20px;
}

.dygraph-axis-label {
  font-size: 11px;
}
.dygraph-ylabel {
  font-size: 15px;
}

.dygraph-legend {
  background:   transparent !important;
      position: fixed !important;
      top: 35% !important;
      bottom: auto !important;
      left:80px !important;
      width: 90% !important;
      margin:auto;
      color:black !important;
      font-size:10px !important;
}


span.highlight {border: 2px solid grey;}

.highlight {
  display: inline;
  background-color: azure;
  color:black;
}

.dygraphChart {
  margin-left: 50px !important;
}

